@using TheFipster.Minecraft.Extender.Domain
@model RunCounts

<div class="card border-secondary">
    <div class="card-header d-flex justify-content-between">
        <h2>Attempts</h2>
        <a class="btn btn-outline-primary btn-sm" asp-controller="Stats" asp-action="Outcomes">tell me more</a>
    </div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span class="w-50">All including discards</span>
                <span class="w-25 text-right">
                    @Model.Attempts
                </span>
                <span class="w-25 text-right">
                    <span class="badge badge-light">100%</span>
                </span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span class="w-50">Actually started</span>
                <span class="w-25 text-right">
                    @Model.Started
                </span>
                <span class="w-25 text-right">
                    <span class="badge badge-light">@Math.Round(100.0 * Model.Started / Model.Attempts, 1)%</span>
                </span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span class="w-50">Reached the Nether</span>
                <span class="w-25 text-right">
                    @Model.Nether
                </span>
                <span class="w-25 text-right">
                    <span class="badge badge-light">@Math.Round(100.0 * Model.Nether / Model.Attempts, 1)%</span>
                </span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span class="w-50">Found a Fortress</span>
                <span class="w-25 text-right">
                    @Model.Fortresses
                </span>
                <span class="w-25 text-right">
                    <span class="badge badge-light">@Math.Round(100.0 * Model.Fortresses / Model.Attempts, 1)%</span>
                </span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span class="w-50">Returned from Nether</span>
                <span class="w-25 text-right">
                    @Model.Search
                </span>
                <span class="w-25 text-right">
                    <span class="badge badge-light">@Math.Round(100.0 * Model.Search / Model.Attempts, 1)%</span>
                </span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span class="w-50">Reached Stronghold</span>
                <span class="w-25 text-right">
                    @Model.Stronghold
                </span>
                <span class="w-25 text-right">
                    <span class="badge badge-light">@Math.Round(100.0 * Model.Stronghold / Model.Attempts, 1)%</span>
                </span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span class="w-50">Found End Portal</span>
                <span class="w-25 text-right">
                    @Model.End
                </span>
                <span class="w-25 text-right">
                    <span class="badge badge-light">@Math.Round(100.0 * Model.End / Model.Attempts, 1)%</span>
                </span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span class="w-50">Killed the Dragon</span>
                <span class="w-25 text-right">
                    @Model.Finished
                </span>
                <span class="w-25 text-right">
                    <span class="badge badge-light">@Math.Round(100.0 * Model.Finished / Model.Attempts, 1)%</span>
                </span>
            </li>
        </ul>
    </div>
</div>