@model WorldIndexViewModel
@{
    ViewData["Title"] = "Worlds";
}

<h1>Worlds</h1>

@foreach (var run in Model.Runs.OrderByDescending(x => x.World.CreatedOn))
{
    <div class="run-box">
        <h2>
            @run.World.CreatedOn.ToLocalTime().ToString("dd.MM.yyyy HH:mm:ss")
        </h2>
        <ul>
            <li>Restart Command: @run.World.CreatedOn.ToString("dd.MM.yyyy HH:mm:ss")</li>
            <li>Last Write: @run.World.WrittenOn.ToString("dd.MM.yyyy HH:mm:ss")</li>
            <li>Last Write UTC: @run.World.WrittenUtcOn.ToString("dd.MM.yyyy HH:mm:ss")</li>
        </ul>
        <div class="collapse-box">
            <div class="collapse-header">
                <a class="btn btn-light" data-toggle="collapse" href="#@run.World.NameUrlEncoded-splits" role="button" aria-expanded="false" aria-controls="@run.World.NameUrlEncoded-splits">Splits (@run.Splits.Count())</a>
            </div>
            <div class="collapse" id="@run.World.NameUrlEncoded-splits">
                <div class="card card-body">
                    <ul class="split-list">
                        @foreach (var split in run.Splits.OrderBy(x => x.Timestamp))
                        {
                            <li>@split.Timestamp.ToString() - @split.Type</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="collapse-box">
            <div class="collapse-header">
                <a class="btn btn-light" data-toggle="collapse" href="#@run.World.NameUrlEncoded-players" role="button" aria-expanded="false" aria-controls="@run.World.NameUrlEncoded-players">Players (@run.Players.Count())</a>
            </div>
            <div class="collapse" id="@run.World.NameUrlEncoded-players">
                <div class="card card-body">
                    <ul class="player-list">
                        @foreach (var player in run.Players.OrderBy(x => x.Name))
                        {
                            <li>
                                <img src="~/img/players/@($"{player.Id}.png")" />
                                <span>@player.Name</span>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="collapse-box">
            <div class="collapse-header">
                <a class="btn btn-light" data-toggle="collapse" href="#@run.World.NameUrlEncoded-dims" role="button" aria-expanded="false" aria-controls="@run.World.NameUrlEncoded-dims">Dimensions (@run.World.Dimensions.Count())</a>
            </div>
            <div class="collapse" id="@run.World.NameUrlEncoded-dims">
                <div class="card card-body">
                    <ul class="dim-list">
                        @foreach (var dimension in run.World.Dimensions)
                        {
                            <li>@dimension.Name - @(dimension.Size / 1024 / 1024) MB</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="collapse-box">
            <div class="collapse-header">
                <a class="btn btn-light" data-toggle="collapse" href="#@run.World.NameUrlEncoded-events" role="button" aria-expanded="false" aria-controls="@run.World.NameUrlEncoded-events">Events (@run.Logs.Events.Count())</a>
            </div>
            <div class="collapse" id="@run.World.NameUrlEncoded-events">
                <div class="card card-body">
                    <ul class="dim-list">
                        @foreach (var e in run.Logs.Events.OrderBy(x => x.Timestamp))
                        {
                            <li>
                                @e.Timestamp.ToString("dd.MM.yyyy HH:mm:ss") - @e.Type - @e.Data
                                @if (e.Player != null)
                                {
                                    <span>(@e.Player.Name)</span>
                                }
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="collapse-box">
            <div class="collapse-header">
                <a class="btn btn-light" data-toggle="collapse" href="#@run.World.NameUrlEncoded-logs" role="button" aria-expanded="false" aria-controls="@run.World.NameUrlEncoded-logs">Logs (@run.Logs.Lines.Count())</a>
            </div>
            <div class="collapse" id="@run.World.NameUrlEncoded-logs">
                <div class="card card-body">
                    <ul class="log-list">
                        @foreach (var line in run.Logs.Lines)
                        {
                            <li>@line.Timestamp.ToString("dd.MM.yyyy HH:mm:ss") - @line.Message</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
}
