@using TheFipster.Minecraft.Speedrun.Domain
@model RunInfo

<tr>
    <td>
        <a asp-controller="Run" asp-action="Index" asp-route-index="@Model.Index">
            <strong>@($"#{Model.Index}")</strong>
        </a>
    </td>
    <td>
        <a asp-controller="Run" asp-action="Index" asp-route-index="@Model.Index">
            @Model.World.CreatedOn.ToLocalTime().AddHours(1).ToString("dd. MMM yyyy - HH:mm:ss")
        </a>
    </td>
    <td>
        <time class="timeago" datetime="@Model.World.CreatedOn.ToLocalTime().AddHours(1).ToString("s")"></time>
    </td>
    <td>
        @foreach (var player in Model.Players.OrderBy(x => x.Name))
        {
            @await Html.PartialAsync("_PlayerAvatarSmall", player.Id)
        }
    </td>
    <td>
        @await Html.PartialAsync("_OutcomeBadge", Model.Outcome.State)
    </td>
</tr>