@model RunHeaderViewModel

<tr>
    <td>
        @if (Model.Index != 0)
        {
            <a asp-controller="Run" asp-action="Name" asp-route-worldname="@Model.Worldname">
                <strong>@($"#{Model.Index}")</strong>
            </a>
        }
    </td>
    <td>
        <a asp-controller="Run" asp-action="Name" asp-route-worldname="@Model.Worldname">
            @Model.StartedOn.ToLocalTime().ToString("dd. MMM yyyy - HH:mm:ss")
        </a>
    </td>
    <td>
        <time class="timeago" datetime="@Model.StartedOn.ToLocalTime().ToString("s")"></time>
    </td>
    <td>
        @foreach (var playerId in Model.PlayerIds.OrderBy(x => x))
        {
            @await Html.PartialAsync("_PlayerAvatarSmall", playerId)
        }
    </td>
    <td class="text-right">
        @await Html.PartialAsync("_OutcomeBadge", Model.Outcome)
    </td>
    <td class="text-right">
        @if (!string.IsNullOrWhiteSpace(Model.SpeedrunLink))
        {
            <a href="@Model.SpeedrunLink">
                <span class="text-info"><i class="fas fa-award fa-lg"></i></span>
            </a>
        }
        @if (!string.IsNullOrWhiteSpace(Model.YoutubeLink))
        {
            <a href="@Model.YoutubeLink">
                <span class="text-danger"><i class="fab fa-youtube fa-lg"></i></span>
            </a>
        }
    </td>
</tr>