@using TheFipster.Minecraft.Analytics.Domain
@model RunAnalytics

<tr>
    <td>
        @if (Model.Index != 0)
        {
            <a asp-controller="Run" asp-action="Name" asp-route-worldname="@Model.Worldname">
                <strong>@($"#{Model.Index}")</strong>
            </a>
        }
    </td>
    <td>
        <a asp-controller="Run" asp-action="Name" asp-route-worldname="@Model.Worldname">
            @Model.Timings.StartedOn.ToLocalTime().AddHours(1).ToString("dd. MMM yyyy - HH:mm:ss")
        </a>
    </td>
    <td>
        <time class="timeago" datetime="@Model.Timings.StartedOn.ToLocalTime().AddHours(1).ToString("s")"></time>
    </td>
    <td>
        @foreach (var player in Model.Players.OrderBy(x => x.Name))
        {
            @await Html.PartialAsync("_PlayerAvatarSmall", player.Id)
        }
    </td>
    <td class="text-right">
        @await Html.PartialAsync("_OutcomeBadge", Model.Outcome)
    </td>
</tr>